#card{
    margin: 0px ;
    border: 1px solid gray;
    border-top: 0px;
    height: 100%;
}
#card div{
    float: left;
    width: 730px;
    border: 1px solid black;
    position: relative
}
#card h3{
    float: left;
    width:100px;
    height: 30px;
    background: gray;
    cursor: pointer;
    padding-right: 46px;
}
#card div{
    display: none;
}
#card .block{
    display: block;
}
#card .up{
    color: #000000;
}
.cardtb{
    margin-left: 0px;
}