.wujian_top{
    width: 280px;
    margin-right: 40px;
}
.wujian_input1{
    width: 130px;
}
.wujian_input2{
    width: 80px;
    margin-right: 10px;
}
.wujian_input3{
    width: 80px;
    margin-left: -30px;
    margin-right: 5px;
}
.wujian_input4{
    width: 80px;
    height: 60px;
}